@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

body {
    background-color: #1c1c21;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 15px;
}

.popup-outer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.modal {
    display: block;
    overflow: auto;
}

.modal-content {
    background-color: #1c1c21;
    color: #bfbfbf;
}

.modal-footer {
    border-color: #363636;
}

.info-content p {
    text-align: left;
    font-size: 1em;
}

.info-content p .material-icons {
    vertical-align: middle;
    color: green;
}

.info-content p .red {
    color: red;
}

.container>.row {
    border: 1px solid #363636;
    border-radius: 8px;
    color: #bfbfbf;
    margin-top: 15px;
}

h1, h2, h3, p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

.h-line {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
    height: 1px;
    background-color: #363636;
}

.drop-btn {
    width: 100%;
    font-size: 1.5em;
    color: green;
    border-radius: 8px;
    padding: 1em 0;
    background-color: #1c1c1c;
    border: 2px solid green;
    margin-bottom: 15px;
}

.drop-btn-small {
    padding: 0.3em 0;
}

.drop-btn-open {
    border-radius: 8px 8px 0 0;
    margin-bottom: 0;
}

.drop-btn:hover {
    color: white;
    background-color: green;
}

button:focus, input:focus, textarea:focus {
    outline: none;
}

.drop-frm {
    border: none;
    padding: 0;
    display: none;
    margin-bottom: 15px;
}

.drop-frm-open {
    display: block;
}

.drop-frm-fields {
    padding: 0.5em;
    padding-left: 1em;
    border: 2px solid #bfbfbf;
    border-width: 0 2px;
}

.frm-field {
    font-size: 1.1em;
    font-weight: normal;
    text-align: left;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    margin-left: -0.5em;
    display: inline-block;
}

.file-prev {
    margin-left: 0;
}

input[type="text"] {
    background-color: inherit;
    color: inherit;
    border: none;
    border-bottom: 2px solid #bfbfbf;
}

input[type="text"]:hover, input[type="text"]:focus, .clps-btn:hover, .clps-btn:focus, .toggle-word:hover, .toggle-word:focus, .icon-btn:hover, .icon-btn:focus, input:hover+.btn-block>.icon-btn:first-child, input:focus+.btn-block>.icon-btn:first-child, textarea:hover, textarea:focus {
    color: green;
    border-color: green;
}

.invalid, .invalid+.btn-block>.icon-btn, .invalid+.btn-block>.icon-btn {
    color: red !important;
    border-color: red !important;
}

input[type="checkbox"] {
    display: none;
}

input[type="file"] {
    display: none;
}

textarea {
    background-color: inherit;
    color: inherit;
    border: none;
    border-bottom: 2px solid #bfbfbf;
    width: 100%;
    resize: none;
}

input[type="submit"] {
    background-color: #1c1c1c;
    border-radius: 0 0 8px 8px;
    width: 100%;
}

.btn {
    background-color: #1c1c1c;
}

.close {
    color: inherit;
    text-shadow: none;
    opacity: inherit;
}

.close:hover, .close:focus {
    color: #ff7e00;
    text-shadow: none;
    opacity: inherit;
}

input[type="submit"]:hover:enabled, input[type="submit"]:focus, .btn:hover:enabled, .btn:focus, .btn-full:hover:enabled, .btn-full:focus {
    color: white;
}

.btn-grn {
    color: green;
    border: 2px solid green;
}

.btn-grn:hover:enabled, .btn-grn:focus {
    background-color: green;
}

.btn-amb {
    color: #ff7e00;
    border: 2px solid #ff7e00;
}

.btn-amb:hover:enabled, .btn-amb:focus {
    background-color: #ff7e00;
}

.btn-red {
    color: red;
    border: 2px solid red;
}

.btn-red:hover:enabled, .btn-red:focus {
    background-color: red;
}

.icon-btn {
    background-color: inherit;
    border: none;
    color: #bfbfbf;
    font-size: 2rem;
    padding: 0;
}

.info {
    float: right;
    font-size: 2em;
}

.info .material-icons-outlined {
    vertical-align: top;
}

.icon-float-left {
    float: left;
    font-size: 2em;
}

.material-icons {
    font-size: inherit;
    vertical-align: text-bottom;
}

.material-icons-outlined {
    font-size: inherit;
    vertical-align: middle;
}

.btn-block {
    display: inline-block;
    width: auto;
}

.toggle-word {
    display: inline-block;
    background-color: inherit;
    color: inherit;
    border: none;
    border-bottom: 2px solid #bfbfbf;
    padding: 1px 2px;
    cursor: pointer;
}

.hide {
    display: none;
}

.clps-btn {
    border-bottom: 2px solid #bfbfbf;
    cursor: pointer;
}

.btn-full {
    width: 100%;
    background-color: #1c1c1c;
}

#display-image {
    display: block;
    max-width: 100%;
    margin: 1em auto;
}

.display-sidebar {
    padding-top: 15px;
}

#display-permalink {
    font-size: 0.7em;
}
